/* головний колір тексту #757575 */
/* другорядний колыр тексту #212121 */
/* білий #FFFFFF */
/* акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --button-color: #188ce8;
  --button-color-portfolio: #f5f4fa;
}

body {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
  margin: 0;
}

.list {
  list-style: none;
}
.address {
  font-style: normal;
}

/* логотип */
.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-span {
  color: var(--accent-color);
}
.logo-white {
  color: var(--primary-white-color);
}

/* Навігація */
.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* контакти */
.contacts-nav .cont {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts-nav .cont:hover,
.contacts-nav .cont:focus {
  color: var(--accent-color);
}

/* Герой */

.hero-text {
  color: var(--primary-white-color);
  background-color: #2f303a; /*тимчасовий фон*/
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero .button:hover,
.heri .button:focus {
  background-color: var(--button-color);
}

/* наші переваги */
.advantages .title {
  color: var(--title-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages .text {
  font-size: 14px;
  line-height: 1.71;
}

.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* наша команда */
.team .title,
.team .text {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .text {
  color: var(--primary-text-color);
  font-weight: normal;
}

/* футер */
.footer {
  background: #2f303a;
}

.map-google {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer .cont {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Portfolio */
.section-filter .button {
  font-family: inherit;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: inherit;
}

.button {
  cursor: pointer;
}

.section-filter .button {
  background-color: var(--button-color-portfolio);
}

.section-filter .button:hover,
.section-filter .button:focus {
  background-color: var(--accent-color);
}

.projects a {
  text-decoration: none;
}

.projects-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}
